@page "/incidencias"
<head>
	<title>Formulario de incidencias</title>
	<style>
		form {
			max-width: 600px;
			margin: 0 auto;
			padding: 20px;
			background-color: #f2f2f2;
			border-radius: 10px;
			box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
		}
		h2 {
			text-align: center;
		}
		label {
			display: block;
			font-weight: bold;
			margin-bottom: 5px;
		}
		input[type="text"], select {
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			border: none;
			margin-bottom: 20px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
		}
		textarea {
			width: 100%;
			padding: 10px;
			border-radius: 5px;
			border: none;
			margin-bottom: 20px;
			box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
			resize: vertical;
			min-height: 100px; /* aquí puedes modificar la altura mínima */
		}
		button[type="submit"] {
			background-color: #4CAF50;
			color: white;
			padding: 10px;
			border: none;
			border-radius: 5px;
			cursor: pointer;
			font-size: 16px;
		}
		button[type="submit"]:hover {
			background-color: #3e8e41;
		}
	</style>
</head>
<body>
	<form>
		<h2>Formulario de incidencias</h2>
		<label for="producto">Producto:</label>
		<select id="producto" name="producto" required>
			<option value="SAP B1">SAP B1</option>
			<option value="Reporte en Crystal">Reporte en Crystal</option>
			<option value="Factura electronica Nativa SAP">Factura electronica Nativa SAP</option>
			<option value="AddOn Factura Electronica">AddOn Factura Electronica</option>
			<option value="Interfaz Command Series">Interfaz Command Series</option>
			<option value="Interfaz Command Batch">Interfaz Command Batch</option>
			<option value="Interfaz Vertical">Interfaz Vertical</option>
		</select>

		<label for="categoria">Categoría:</label>
		<select id="categ" name="categ" required>
			<option value="Error de configuración">Error de configuración</option>
			<option value="Consulta">Consulta</option>
			<option value="Hardware">Hardware</option>
			<option value="Base de datos">Base de datos</option>
			<option value="Licencia">Licencia</option>
			<option value="Error de producto">Error de producto</option>
			<option value="Error de producto - versión desactualizada">Error de producto - versión desactualizada</option>
			<option value="Error en aplicativo de terceros">Error en aplicativo de terceros</option>
			<option value="Error de usuario">Error de usuario</option>
			<option value="Requerimiento de Usuario">Requerimiento de Usuario</option>
		</select>

        <label for="version">Versión de SAP B1:</label>
		<input type="text" id="version" name="version" required>

		<label for="parche">Parche de SAP B1:</label>
		<input type="text" id="parche" name="parche" required>

        <label for="bdatos">Base de datos:</label>
		<select id="bd" name="bd" required>
			<option value="SQL Server">Sql Server</option>
			<option value="Hana">Hana</option>			
		</select>

        <label for="verionbd">Versión de base de datos:</label>
		<input type="text" id="verbd" name="verbd" required>

		<label for="descripcion">Descripción:</label>
		<textarea id="descripcion" name="descripcion" placeholder="Escribe aquí una descripción detallada del problema..." required></textarea>

		<button type="submit" disabled>Enviar</button>
	</form>
</body>


@code {

}