@page "/"

<PageTitle>Index</PageTitle>

<h3>¡Bienvenido!</h3>

<h2>¿Como podemos ayudarte?</h2>

<SurveyPrompt Title="El portal te ayudara a resolver problemas de tus soluciones." />
<SurveyPrompt Title= "Test" />
